---
interface Props {
  btnText: string;
}

const { btnText } = Astro.props;
---

<form
  id="formulario"
  action=""
  class="flex flex-col gap-4 bg-white px-4 py-8 xs:px-8 rounded max-w-2xl mx-auto"
>
  <div class="flex flex-col gap-2">
    <label for="nombre" class="font-semibold">Nombre:</label>
    <input
      class="rounded bg-gray-50"
      type="text"
      id="nombre"
      name="nombre"
      placeholder="Nombre completo"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="correo" class="font-semibold">Correo:</label>
    <input
      class="rounded bg-gray-50"
      type="email"
      id="correo"
      name="correo"
      placeholder="Correo electrónico"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="telefono" class="font-semibold">Teléfono:</label>
    <input
      class="rounded bg-gray-50"
      type="tel"
      id="telefono"
      name="telefono"
      placeholder="(555) 555-5555"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="empresa" class="font-semibold">Empresa:</label>
    <input
      class="rounded bg-gray-50"
      type="text"
      id="empresa"
      name="empresa"
      placeholder="Nombre de empresa"
    />
  </div>
  <button
    type="submit"
    class="bg-teal-800 py-3 uppercase text-white font-semibold rounded mt-4 hover:bg-teal-900 tracking-wider"
    >{btnText}</button
  >
</form>

<script>
  import { validarCliente } from "../scripts/validarCliente";
  import { formulario } from "../scripts/selectores";

  formulario.addEventListener("submit", validarCliente);
</script>
