---
import { mainMenu } from "../data/mainMenu";
---

<header
  class="px-2 py-8 xs:px-8 bg-gradient-to-br from-teal-900 to-teal-800 text-white min-w-fit flex flex-col xs:flex-row lg:flex-col justify-between items-center lg:items-start lg:justify-start gap-4 lg:gap-12"
>
  <div>
    <p class="text-xl uppercase font-bold mb-0 lg:mb-2">CRM - IndexedDB</p>
    <p class="font-semibold hidden xs:block">Administra tus clientes</p>
  </div>
  <nav>
    <ul class="flex lg:flex-col gap-16 xs:gap-8">
      {
        mainMenu.map((menu) => (
          <li>
            <a href={menu.path}>{menu.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  // import conectarDB from "../scripts/conectarBD";
  import { crearDB } from "../scripts/crearBD";

  document.addEventListener("DOMContentLoaded", () => {
    crearDB();
    // conectarDB();
  });
</script>
